{% include 'header.html' %}
<main class="app-main">
  <div class="container mt-4">
    <div class="col-6">
      <div class="card card-primary card-outline mb-4">
        <div class="card-header"><div class="card-title">Edit Ruang</div></div>
        <form method="POST" action="">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Kode Ruang</label>
              <input type="text" class="form-control" id="kode_ruang" name="kode_ruang" value="{{ ruang.kode_ruang }}" readonly>
            </div>
            <div class="mb-3">
                <label>Kategori</label>
                <select name="id_kategori" class="form-control">
                {% for kat in kategori %}
                <option value="{{ kat.get_id() }}" {% if kat.get_id() == ruang.get_id() %}selected{% endif %}>
                    {{ kat.get_nama() }}
                </option>
                {% endfor %}
                </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Gedung</label>
              <input type="text" class="form-control" id="gedung" name="gedung" value="{{ ruang.gedung }}" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Lantai</label>
              <input type="text" class="form-control" id="lantai" name="lantai" value="{{ ruang.lantai }}" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Ruang</label>
              <input type="text" class="form-control" id="ruang" name="ruang" value="{{ ruang.ruang }}" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Max Peserta</label>
              <input type="text" class="form-control" id="max_peserta" name="max_peserta" value="{{ ruang.max_peserta }}" required>
            </div>
          </div>
          <!--end::Body-->
          <!--begin::Footer-->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{{ url_for('ruang.ruang') }}" class="btn btn-secondary">Kembali</a>
          </div>
          <!--end::Footer-->
        </form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</main>
{% include 'footer.html' %}
