{% include 'header.html' %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Kategori</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Kategori</a></li>
            <li class="breadcrumb-item active" aria-current="page">Kategori</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <div>
        <a class="btn btn-success" href=""><i class="fa-regular fa-square-plus"></i> Tambah Data</a>
      </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">DAFTAR RUANGAN</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>No</th>
              <th>Kode Ruang</th>
              <th>Kategori</th>
              <th>Gedung</th>
              <th>Lantai</th>
              <th>Ruang</th>
              <th>Max Peserta</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
          {% if ruang %}
            {% for r in ruang %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ r.kode_ruang }}</td>
              <td>{{ r.nama_kategori }}</td>
              <td>{{ r.gedung }}</td>
              <td>{{ r.lantai }}</td>
              <td>{{ r.ruang }}</td>
              <td>{{ r.max_peserta }}</td>
              <td>
                <a href="#" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <form action="#" method="POST" style="display:inline-block;" onsubmit="return confirm('Yakin?')">
                  <button class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Hapus</button>
                </form>
              </td>
            </tr>
            {% endfor %}
          {% else %}
            <tr><td colspan="8" class="text-center">Belum ada data ruang</td></tr>
          {% endif %}
          </tbody>

          </table>
        </div>
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
<!--end::App Main-->
{% include 'footer.html' %}