{% include 'header.html' %}
<!--begin::App Main-->
<main class="app-main">
  <!--begin::App Content Header-->
  <div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6"><h3 class="mb-0">Dosen</h3></div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Dosen</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dosen</li>
          </ol>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content Header-->
  <!--begin::App Content-->
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <div>
        <a class="btn btn-success" href="{{ url_for('dosen.tambah_dosen') }}"><i class="fa-regular fa-square-plus"></i> Tambah Data</a>
      </div>
    <br>
    <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">DAFTAR DOSEN</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table table-sm">
            <thead>
              <tr>
                <th style="width: 10px">NIDN</th>
                <th>Nama Dosen</th>
                <th>Jabatan</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
                {% if dosen %}
                {% for dos in dosen %}
                <tr>
                <td>{{ dos.get_nidn() }}</td>
                <td>{{ dos.get_nama() }}</td>
                <td>{{ dos.get_jabatan() }}</td>
                <td>
                  <a href="{{ url_for('dosen.edit_dosen', id=dos.get_nidn())}}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>

                  <form action="{{ url_for('dosen.hapus_dosen', id=dos.get_nidn()) }}" method="POST"
                        onsubmit="return confirm('Yakin ingin menghapus dosen ini?');" style="display:inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Hapus</button>
                  </form>
                </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3" class="text-center">Belum ada data dosen</td></tr>
            {% endif %}
            </tbody>
          </table>
        </div>
    </div>
    <!--end::Container-->
  </div>
  <!--end::App Content-->
</main>
<!--end::App Main-->
{% include 'footer.html' %}